.use__callback__1--container {
  min-height: 400px;
  border: 2px solid lightcoral;
  border-radius: 20px;
  margin-bottom: 30px;
  font-family: sans-serif;
}

.shuffle--button {
  border: 2px solid magenta;
  margin: 20px;
  transition: transform 0.2s ease;
}

.shuffle--button:active {
  transform: translateY(3px);
}
